// ========== Google font
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// ========== Global settings
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    list-style: none;
    text-decoration: none;
}
// ========== Variables
$bg-black-100: rgba(31,31,31,0.9);
$bg-white-100: #ddd;
$bg-white-50: #eff0f4;
$bg-white-25: #f5f5f5;
$bg-white-10: #f5f5f5;
$text-black-900: #000;
$text-black-700: rgb(37,37,37);
$text-black-600: rgb(172,172,172);
$text-black-400: rgb(221,221,221);
$text-black-300: #f5f5f5;
$shadow: 0 5px 20px rgba(0,0,0,0.05);
// ========== Base
body {
    font-size: 16px;
    line-height: 1.5;
    min-height: 1000vh;
}
:before, :after {
    box-sizing: border-box;
}
img {
    width: 100%;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.titleText {
    color: $text-black-900;
    font-size: 2em;
    font-weight: 300;

    span {
        color: $text-black-600;
        font-weight: 700;
        font-size: 1.5em;
    }
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
// ========== Button Style

.btn-1 {
    font-size: 16px;
    color: $text-black-300;
    background-color: $text-black-700;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .5s;
    border-radius: 5px;
}
// ========== Navigation Bar
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    background-color: white;

    &.sticky {
        background: $bg-white-10;
        padding: 10px 100px;
        box-shadow: $shadow;

        .logo {
            color: $text-black-900;
        }

        .nav {

            li{
                a{
                    color: $text-black-900;
                }
            }
        }
    }
    .logo {
        color: $text-black-900;
        font-weight: 700;
        font-size: 2em;
        text-decoration: none;
    }
    .nav {
        position: relative;
        display: flex;

        li {
            margin: 0 0 0 30px;
            a{
                color: $text-black-600;
                font-weight: 300;

                &:hover{
                    color: $text-black-700;
                }
            }
        }
    }
}
// ========== Landing Page
.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../image/bg1.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;

    .content {
        max-width: 900px;
        text-align: center;

        h2 {
            font-size: 5em;
            font-weight: 400;
            color: $text-black-300;
        }

        p {
            font-size: 1em;
            font-weight: 400;
            color: $text-black-300;
        }
    }
}
// ========== About Section

.about {
    padding: 80px 0 80px;
    min-height: 100vh;


    .row {
        position: relative;
        width: 100%;
        display: flex;
        flex: 0 0 50%;
        padding: 15px;
         justify-content: space-between;
         margin-top: 100px;

        &:nth-child(2){
            img{
                width: 70%;
            }
        }
        &:nth-child(3){
            img{
                width: 50%;
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
         .col50 {
            position: relative;
            width: 48%;

             .imgBx {
                position: relative;
                height: 100%;
                
                img {
                    position: absolute;
                    height: 100%;
                }
             }
            }
         }
    }

// ========== System Section

.system {
    padding: 80px 0 80px;
    min-height: 100vh;
    background: url(../image/bg2.jpg);
    background-size: cover;

    .container {

        .title {
            h2 {
                color: $text-black-700;
                font-weight: 400;

                span {
                    color: $text-black-900;
                }
            }

            p{
                color: 700;
                font-weight: 500;
            }
        }

        .row {
            padding: 40px 0 0;

            .timeline {
                flex: 0 0 100%;
                max-width: 100%;
                position: relative;

                &::before {
                    content: '';
                    width: 1px;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    background-color: $bg-white-100;
                    position: absolute;
                }

                .row {
                    .timeline-item {
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding: 0 15px;

                        &:nth-child(odd){
                            padding-right: calc(50% + 50px);
                            text-align: right;

                            .timeline-item-inner {
                                border: 1px solid $bg-white-100;

                                &::before {
                                    right: -50%;
                                }
                                
                                .icon {
                                    right: -56px;
                                }
                            }
                        }

                        &:nth-child(even){
                            padding-left: calc(50% + 50px);

                            .timeline-item-inner {
                                border: 1px solid $bg-white-100;

                                &::before {
                                    left: -50px;
                                }

                                .icon {
                                    left: -55px;
                                }
                            }
                        }

                        .timeline-item-inner {
                            padding: 30px;
                            border-radius: 5px;
                            display: flex;
                            flex-direction: column;
                            z-index: 1000;
                            background: rgba(255,255,255,0.1);
                            box-shadow: 0 25px 45px rgba(0,0,0,0.1);
                            backdrop-filter: blur(20px);
                            -webkit-backdrop-filter: blur(20px);

                            &::before {
                                content: '';
                                position: absolute;
                                width: 50px;
                                height: 1px;
                                background-color: $bg-white-100;
                                top: 37px;
                                z-index: -1;
                            }

                            .icon {
                                height: 9px;
                                width: 9px;
                                position: absolute;
                                top: 33px;
                                border: 1px solid $bg-white-100;
                                border-radius: 50%;
                                background: $bg-white-100;

                            }

                            span {
                                font-weight: 500;
                                color: $text-black-300;
                                display: block;
                                margin: 0 0 10px;
                                text-transform: capitalize;
                            }

                            h4 {
                                font-size: 16px;
                                font-style: italic;
                                color: $text-black-700;
                                margin: 0;
                            }

                            p {
                                font-size: 16px;
                                color: $text-black-400;
                                line-height: 26px;
                                margin: 15px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
// ========== Service Section

// ========== Testimonials Section

// ========== Contact Section

// ========== Copyright Section

// ========== Media Queries

// ========== For Laptop

// ========== For Tablet

// ========== For Mobile-L

// ========== For Mobile-S
